<{% extends 'main/base.html' %}

{% block styles %}
body {
    color: black;
    font-family: 'Calibri';
}
li {
    font-size: 30px;
    margin-bottom: 15px;
}
li:hover {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
 h1 {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 500%; /* Размер шрифта в процентах */
   }

{% endblock %}

{% block title %}Добавление записи{% endblock %}

{% block content %}

<h1>Форма для добавления расы</h1>
<form method = "post">
    {% csrf_token %}
    {{ form.idrases }}
    <br>
    <span>{{error}}</span>
    {{ form.cans }}
   <button class="btn btn-succes" type="submit"><font color = "red">Добавить</font></button><br>
    <h5>Список существ</h5>
<ol>
        {% for i in cr %}
        <li>{{i.name}}</li>
        {% endfor %}
</ol>
</form>
{% endblock %}