{% extends 'main/base.html' %}

{% block title %} Фантастические существа {% endblock %}

{% block styles %}
body {
    color: black;
    font-family: 'Calibri';
}
li {
    font-size: 30px;
    margin-bottom: 15px;
}
li:hover {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
{% endblock %}


{% block content %}
<body bgcolor="#ffffe0">
    <big><h1>Список существ</h1>
    <ol>
        {% for i in cr %}
        <li>
            <dev><strong>{{i.name}}</strong></dev>
            <br>
            <dev>{{i.discription}}</dev>
            <br>
            <dev><u>Способности</u></dev>
            <ul>
                {% for j in c %}
                {% if j.idrases == i.id %}
                 <li>{{j.cans}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <br>
        </li>
        {% endfor %}
    </ol></big>
{% endblock %}