<{% extends 'main/base.html' %}

{% block styles %}
body {
    color: black;
    font-family: 'Calibri';
}
li {
    font-size: 30px;
    margin-bottom: 15px;
}
li:hover {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
 h1 {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 250%; /* Размер шрифта в процентах */
   }

{% endblock %}

{% block title %} Раса{% endblock %}

{% block content %}
<body bgcolor="#ffffe0">
 <big><h1>Список способностей</h1>
    <ol>
        {% for i in c %}
        {% if i.idrases == cr.id %}
        <li>{{i.cans}}<b>&ensp;</b><a href="/update/{{i.id}}/">Изменить</a><b>&ensp;</b><a href="/delete/{{i.id}}/">Удалить</a></li>
        {% endif %}
        {% endfor %}
        <br>
        <div><a href="{% url 'create1' cr.id %}">Добавить способность</a></div> <br>
    </ol></big>
{% endblock %}