{% extends 'master/base.html' %}

{% load static %}

{% block title %} {{cr.name}} {% endblock %}

{% block styles %}
body {
    color: black;
    font-family: 'Calibri';
}

table {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 24px;
    background-color: #ff9900;
}

td {
    padding: 5px 20px 5px 20px;
}

#back{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
}
{% endblock %}

{% block content %}
    <h1 align="center">{{cr.title}}</h1>
    <table border="1 solid black">
        <tr>
            <th>Название</th>
            <th>Фото</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td align="center">{{cr.title}}</td>
            <td align="center">
              <img src="{{ cr.photo.url }}",height='150', width="150">
            </td>
            <td align='justify'>
                {{cr.description}}
            </td>
        </tr>
    </table>
{% endblock %}
